{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block style %}
    <link type = "text/css" href="{% static 'createpolls/css/createpoll.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <p id="heading" class="lead mycontainer">Please Enter the poll details.</p>
    <form id="pollform" method="POST" action="." class="form-horizontal">{% csrf_token %}
        <div id="divQuestion"  class="mydiv">
            <input type='text' name="question" id='question' class="form-control input-lg  txt_choice" placeholder="Ask a Question" required/>
        </div>
        <div id ="divForm1" class="secdiv">

            <button type="button" class="btn btn-primary mybtn" id="btn_choice">Add Choices</button>
            <button type="button" class="btn btn-default mybtn" id="btn_reset" >Remove Choices</button>

            <div id="TextBoxesGroup">
                <div id="TextBoxDiv1"  class="mydiv">
                    <input type='text' name="textbox1" id='textbox1' class="form-control input-lg  txt_choice" placeholder="Choice 1"/>
                </div>
                <div id="TextBoxDiv2" class="mydiv">
                    <input type='text' name="textbox2" id='textbox2' class="form-control input-lg txt_choice" placeholder="Choice 2"/>
                </div>
                <div id="TextBoxDiv3" class="mydiv">
                    <input type='text' name="textbox3" id='textbox3' class="form-control input-lg txt_choice" placeholder="Choice 3"/>
                </div>
                <div id="TextBoxDiv4" class="mydiv">
                    <input type='text' name="textbox4" id='textbox4' class="form-control input-lg txt_choice" placeholder="Choice 4"/>
                </div>

            </div>
            <div id="div_btn" class="mydiv">
                <button id="btn_next" type="button" class="btn btn-success mybtn">Next</button>
            </div>
        </div>
        <div id = "divForm2" class="secdiv">
            <div id="divQuestion" >
                <textarea id="email" name="email" class="form-control input-lg  txt_choice" rows="5" cols="60" placeholder="Enter Emails(Comma Separated)"></textarea>
            </div>
            <div id="div_btn" class="mydiv">
                <button id="btn_prev" type="button" class="btn btn-default mybtn">Back</button>
                <button id="btn_submit" type="button" class="btn btn-primary mybtn">Submit</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'createpolls/js/createpolls.js' %}"></script>
{% endblock %}