{% load staticfiles %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
    
    {% endblock %}
    </title>
<link href="{% static 'boots/css/bootstrap.min.css' %}" rel="stylesheet">
{% block style %}

{% endblock %}
<script type="text/javascript" src="{% static 'boots/js/jquery_3.1.js'%}"></script>
<script type="text/javascript" src="{% static 'createpolls/js/base.js'%}"></script>

{% block headScript %}

{% endblock %}
</head>
<body>

<div class="container">
{% block content %}

{% endblock %}
</div>
{% block script %}

{% endblock %}
</body>
</html>